<% include _header %>

<div class="col-lg-12">
<h1 class="page-header"> MET portofolio </h1>
</div>

  <div class="row">
      <div class="col-xs-12 col-md-8">
          <div class="row">
              <% for(var i=0; i<users.length ; i++){%>
                  <div class="card col-xs-4" style="overflow:hidden; ">
                    <a href="/users/<%= users[i].username %>">  <img src="<%= users[i].profilePicture %>" alt="" style="width: 50px; height:50px;"> </a>
                    <% if(users[i].works.length >0) %>
                      <a href="/project/<%= users[i].works[0]  %>"><h4 class="card-title">  <%= users[i].works[0] %></h4></a>
                      <%   if(users[i].works.length >1) %>
                        <a href="/project/<%= users[i].works[1]  %>"><h4 class="card-title"> <%= users[i].works[1] %></h4></a>
                        <a href="/users/<%= users[i].username %>"> <%= users[i].username %></a>
                        <% if(users[i].bio){ %>

                            <%= users[i].bio %>

                        <% } %>
                  </div>
              <% } %>
          </div>
          <div class="pagination">

              <% for(var i=1; i<count+1; i++){%>
                <% if( i == num  ){ %>

                    <a class="active" href="#"><%= i %></a>
                <% } else{ %>
                      <a  href="/<%= i %>"><%= i %></a>
                  <% } %>
              <% } %>

          </div>
      </div>



<% include _footer %>
