<% include _header %>

<% if ((currentUser) && (currentUser.id === user.id)) { %>
  <a href="/edit" class="pull-right">Edit your profile</a>
<% } %>

<h1><%= user.name() %></h1>
<h2>Joined on <%= user.createdAt %></h2>

<% if (user.bio) { %>
  <p><%= user.bio %></p>
<% } %>
<div class="row">
    <div class="col-xs-12 col-md-8">
        <div class="row">
            <% for(var i=0; i<projects.length; i++){%>
                <div class="card col-xs-4">
                    <h4 class="card-title"> <%= projects[i].title %></h4>
                    <a href=" <%= projects[i].URL %>" class="btn btn-primary card-link">Visit Website</a>
                </div>
            <% } %>
        </div>
    </div>
<% include _footer %>
